<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <style>
        .aboutus {
          background-color: rgb(255, 255, 255);
          color: #333;
          padding: 25px 0px 25px 16px ;
          border-radius: 8px;
        }
        /* CSS for background image */
        .background-image-about {
            background-size: cover;
            background-position: center;
        }

        /* CSS for cards */
        .card {
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            margin-bottom: 30px;
        }

        .card-content {
            padding: 20px;
        }

        .card-content h3 {
            font-size: 24px;
            margin-bottom: 15px;
            color: #333;
        }

        .card-content p,
        .card-content ul {
            line-height: 1.6;
        }

        .card-content ul {
            list-style-type: none;
            padding: 0;
        }

        .card-content ul li {
            margin-bottom: 10px;
        }

        .card-content ul li strong {
            color: #333;
        }

        /* CSS for footer */
        footer {
            background-color: #333;
            color: #ecf0f1;
            text-align: center;
            display: flex;
            justify-content: center;
            padding: 20px 0;
        }

        footer p {
            margin: 20px;
            font-size: 20px;
        }
    </style>
</head>
<body>

<section class="about background-image-about">
    <div class="container">
        <h2 class="aboutus">About Us</h2>
<br>
        <div class="card card1">
            <div class="card-content">
                <h3>Our Mission</h3>
                <p>{{mission}}</p>
            </div>
        </div>

        <div class="card card2">
            <div class="card-content">
                <h3>Our Vision</h3>
                <p>{{vision}}</p>
            </div>
        </div>

        <div class="card card3">
            <div class="card-content">
                <h3>Our Values</h3>
                <ul>
                    {{#each values}}
                    <li><strong>{{name}}:</strong> {{description}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>

    </div>
</section>

{{!-- <footer>
    <p>&copy; {{year}} Library Management System</p>
</footer> --}}

</body>
</html>
